html{
    box-sizing: border-box;
}
*,*::after,*::before{
box-sizing: inherit;
}
a{ 
    text-decoration: none;
}
.header{
    background-color: #353A40;
}
.navlogo{
    width: 8rem;
    margin-left: 3rem;
}
#conf{
    color: white;
    margin-left: -1.5rem;
    margin-right: 3.5rem;
}
.nava{
    margin-left: 3rem;
    margin-right: 3rem;
}
.nava a{
    font-size: 1rem;
    color: #949c9e;
}
#anw{
    color: white;
}
#ang{
    color: green;
}
.imgdiv{
    filter: brightness(50%);
}
.carrousel-text{
    color: white;
    text-align: end;
    display: block;
    padding-left: 12rem;
    margin-left: 1rem;
    margin-bottom: 8rem;
}
.titulo-oradores{
    margin-top: 1rem;
    text-align: center;
}
.card-seccion{
    margin-left: 5rem;
    margin-top: 1rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.holuluimg{
    width: 100%;
}
.holulu{
    background-color: #353a40;
    color: white;
}
.seccion3-titulo{
    text-align: center;
}
.textform{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formcont{
    margin-left: 11rem;
    margin-right: 11rem;
}
#txt-u-form{
    font-size: 1rem;
    color: gray;
}
.btn-ct{
    margin-bottom: 1rem;
}
.b-form{
    background-color: #96c93e;
    border-color: #96c93e;
}
.b-form:hover{
    background-color: #e3d35a;
    border-color: white;
}
.footer{
    background-image: linear-gradient(to right, #1d3746 0%, #1e5170 100%);
}
.footer-cont{
    padding-right: 3rem;
    padding-left: 5rem;
    height: 5rem;
}
.footer-navbar a{
    font-size: 1rem;
    color: white;
}
@media (max-width:630px){
    .formcont{
        display: flex;
        margin: 1rem;
    }
}
